<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/user/artist/list">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item nav-category"><a href="/user/artist/list" style="text-decoration: none;color: #000;">Artists</a></li>
     
      <li class="nav-item nav-category"><a href="/user/album/list" style="text-decoration: none;color: #000;">Albums</a></li>

      <li class="nav-item nav-category"><a href="/user/track/list" style="text-decoration: none;color: #000;">Tracks</a></li>

      <li class="nav-item nav-category"><a href="/user/playlist/list" style="text-decoration: none;color: #000;">Playlists</a></li>
    </ul>
  </nav>