
<!DOCTYPE html>
<html lang="en">

{% load static %}
{% include 'common/head.html' %}

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include 'common/header.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
     
      <!-- partial -->
      {% include 'common/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body search-panel">
                  <h3 id="form-title">Create Album</h3>
                  <span class="error" id="error"></span>
                  <form class="forms-sample" name="frmAlbum" id="frmAlbum" method="post">
                        <div class="form-group row">
                          <div class="col-sm-12">
                            <span class="error" id="name-error"></span>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Album Name">
                          </div>
                          </div>
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <span class="error" id="year-error"></span>
                              <input type="number" class="form-control" id="year" name="year" placeholder="Year">
                            </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-12">
                                <span class="error" id="artist-error"></span>
                                <select name="artist" id="artist" class="form-control">
                                  <option value="">Select Artist</option>
                                  {% for a in artist_list %}
                                  <option value="{{a.uuid}}">{{a.name}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              </div>  
                              <div class="form-group row track-div" id="track-div">
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" name="tracks[]" id="track-1" placeholder="Track">
                                </div>
                                <div class="col-sm-3">
                                  <input type="number" class="form-control" name="track_numbers[]" id="track-number-1" placeholder="Track Number">
                                </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-sm-11"></div>
                                  <div class="col-sm-1">
                                    <a name="btnAddTrack" id="btnAddTrack" href="javascript:void(0)">Add(+)</a>
                                  </div>
                                  
                                </div>
                        <div class="form-group row">
                        <div class="col-sm-12" style="text-align: center;">
                          <input type="submit" name="btnSaveAlbum" id="btn-save-album" class="btn btn-primary me-2" value="Save">
                          <a href="/user/album/list">Cancel</a>
                      </div>
                    </div>
                    <input type="hidden" id="uuid" name="uuid">
                  </form>
                </div>
              </div>
            </div>            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Album Detail</h4>
                  
                  <div class="table-responsive">
                    
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Year</th>
                          <th>Artist</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for c in results %}
                        <tr>
                          <td><strong>{{ c.name }}</strong></td>
                          <td>{{ c.year }}</td>
                          <td>{{ c.artist.name }}</td>
                          <td>
                            <a href="javascript:void(0)" onclick="get_album_info('{{c.uuid}}')">Edit</a>
                            |
                            <a href="javascript:void(0)" onclick="delete_module('{{c.uuid}}','album')">Delete</a>
                          </td>
                        </tr>
                        {% endfor %}
                        <tr>
                          <td colspan="4" style="text-align: center;"><div class="pagination">
                            <a href="/user/album/list/?page={{prev_page}}">&laquo; Previous</a>
                            <a href="/user/album/list/?page={{next_page}}"">Next&raquo;</a>
                          </div></td>
                        </tr>
                      </tbody>
                    </table>
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        {% include 'common/footer.html' %}
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
 {% include 'common/js.html' %}
</body>

</html>